<div class="card bg-dark text-white">
    <img src="~/Content/img/water-lily-3784022_1920.jpg" class="card-img" alt="foto">
    <div class="card-img-overlay">
        <p class="tituloimg">Acerca de nosotros</p>
    </div>
</div>


<div class="container espacio">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title tituloscard">La gente nos elige </h5>
            <h6 class="card-subtitle mb-2 text-muted tituloscard">Nuestra colección es actualmente la más grande en la Web</h6>
            <p class="card-text centradocard">En el mercado de la perfumeria, tomamos en serio las reseñas de estos. Con nuestra web, puede consultar todo el mundo de la perfumeria en pocas horas.</p>
        </div>
        <img class="card-img-bottom" src="~/Content/img/still-life-697808_1920.jpg" alt="Card image cap">
    </div>
</div>



<div class="container espacio">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title tituloscard">Misión</h5>
                    <p class="card-text centradocard">Somos una nueva página web, orientados a satisfacer las necesidades de nuestros visitantes. Brindamos un asesoramiento de excelencia, ofreciendo amplia variedad de perfumes</p>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title tituloscard">Visión</h5>
                    <p class="card-text centradocard">Ser una página líder de perfumerías en todo el país, innovando formas comerciales y brindando el máximo nivel de excelencia en la calidad de servicio.</p>
                </div>

            </div>
        </div>
    </div>
</div>


<hr />


<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/Content/img/ivan.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title tituloscard">Ivan Domínguez</h5>
                <p class="card-text centradocard">Nos esforzamos en ofrecer un alto grado de valor añadido en todos los proyectos en los que estamos involucrados, proponiendo soluciones eficaces que maximicen la inversión realizada y produzcan un rápido retorno.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Fundador</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Content/img/rodrigo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title tituloscard">Rodrigo Murguia</h5>
                <p class="card-text centradocard">Nuestra visión de las tecnologías de la información es la de un mundo en continuo cambio que brinda un gran número de oportunidades al conociemiento. Más allá de las tendencias dominantes, nuestro cometido es orientar en sus decisiones a nuestros clientes </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Fundador</small>
            </div>
        </div>
    </div>

</div>