@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/lotus-978659_1920.jpg" class="d-block w-100 foto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>EAU DE ROSE</h5>
                <p>El aroma de las rosas convertido en agua </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/perfume-2142830_1920.jpg" class="d-block w-100 foto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Las mejores recomendaciones</h5>
                <p>Millones de opciones en una sola pagina</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/flower-731300_1920.jpg" class="d-block w-100 foto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Referencias de otros usuarios</h5>
                <p>Comunidad que comenta para contribución de encontrar lo que se busca</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>