.curve {
    background-color: black;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    background: #232323;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.36);
}

.tituloimg {
    font-size: 130px;
    text-align: center;
    padding-top: 60px;
    font-style: oblique;
    font-family: cursive;
}

.titulofooter {
    font-size: 80px;
    text-align: center;
    padding-top: 60px;
}

.espacio {
    padding-top: 100px;
}

.foto {
    height: 950px;
    width: 100%;
}

.centrado {
    text-align: justify;
}

.titulos {
    text-align: center;
}

.logo {
    width: 250px;
    height: 150px;
}

.tituloscard {
    text-align: center;
    font-size: 35px;
}

.centradocard {
    text-align: justify;
    font-size: 20px;
}
.cha{
    margin-top: 10px;
}
